@model List<Meals>

<select name="MealId" class="form-control">
    <option value="0">--Wybierz produkt --</option>
    @if (Model.Any())
    {
        foreach (var meal in Model)
        {
            <option value="@meal.Id">@meal.Name</option>
        }
    }
</select>

<input id="mealCmb" placeholder="Wpisz nazwę produktu" type="text" class="form-control" />
<input type="hidden" value="" name="MealId" />
