body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#004050;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

main .till{
    width: 30%;
    min-width:300px;
    margin: 1.5%;
    float: left;
    background-color:#fff;
}

.login-section{
    background-color:#fff;
    vertical-align: middle;
}