body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    overflow: auto;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/**************** ogólny wygląd kafelka ************************/

.till {
    width: 30%;
    height: 340px;
    min-width: 300px;
    margin: 1.5%;
    float: left;
    background-color: #fff;
}

    .till h2 {
        margin: 5px;
        padding-left: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-size: 60px 60px;
        border-bottom: 1px solid #098ce2;
    }

    .till article {
        padding-left: 10px;
        padding-right: 10px;
        overflow: auto;
        height: 205px;
    }

    .till aside {
        border-top: 1px solid #098ce2;
        margin: 5px;
        padding-top: 5px;
    }

    /******************* Kafelek METRYKI **********************/

    .till#metrics h2 {
        background: url('images/metryki.png') no-repeat;
        background-size: 60px 60px;
    }

    .till#metrics article {
        position: relative;
        overflow: auto;
    }

        .till#metrics article .item {
            overflow: auto;
        }

            .till#metrics article .item > div:first-of-type {
                text-align: right;
            }

            .till#metrics article .item > div:last-of-type {
                text-align: left;
            }


    /******************* Kafelek CELÓW **********************/

    .till#target h2 {
        background: url('images/target.png') no-repeat;
        background-size: 60px 60px;
    }

    .till#target article {
        position: relative;
        overflow: auto;
    }

        .till#target article .item {
            overflow: auto;
        }

            .till#target article .item > div:first-of-type {
                text-align: right;
            }

            .till#target article .item > div:last-of-type {
                text-align: left;
            }

    /******************* Kafelek DIETY **********************/

    .till#diets h2 {
        background: url('images/dieta.png') no-repeat;
        background-size: 60px 60px;
    }

    .till#diets .empty {
        background: url('images/dieta-brakdanych.png');
    }

    .till#diets article {
        height: 250px;
    }

    /******************* Kafelek POSTĘPÓW **********************/

    .till#progress h2 {
        background: url('images/progres.png') no-repeat;
        background-size: 60px 60px;
    }

    .till#progress article {
        height: 250px;
    }

    /******************* Kafelek DANYCH OSOBOWYCH **********************/

    .till#user h2 {
        background: url('images/user.png') no-repeat;
        background-size: 60px 60px;
    }

    .till#user article {
        position: relative;
        overflow: auto;
    }

        .till#user article .item {
            overflow: auto;
        }

            .till#user article .item > div:first-of-type {
                text-align: right;
            }

            .till#user article .item > div:last-of-type {
                text-align: left;
            }

    /******************* Kafelek POSIŁKÓW **********************/

    .till#meals h2 {
        background: url('images/posilki.png') no-repeat;
        background-size: 60px 60px;
    }

    .till#meals div.meal {
        overflow: auto;
        padding: 5px 0px;
        background-color: gainsboro;
        margin: 10px 0px;
    }

    .till#meals div.meal-title {
        font-size: 16px;
        overflow: auto;
    }

    .till#meals div.meal-summary > div {
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-right: 1px solid #ccc;
        padding: 0;
    }

        .till#meals div.meal-summary > div > i {
            height: 20px;
            width: 40%;
            float: left;
            background-size: contain;
            background-position: right center;
        }

        .till#meals div.meal-summary > div > span {
            height: 20px;
            width: 60%;
            float: left;
            text-align: left;
        }

    .till#meals div.fat i {
        background: url('images/tluszcz.png') no-repeat;
    }

    .till#meals div.sugar i {
        background: url('images/cukier.png') no-repeat;
        background-size: contain;
    }

    .till#meals div.protein i {
        background: url('images/bialko.png') no-repeat;
        background-size: contain;
    }

/******************* Kafelek ZALOGUJ/ZAREJESTRUJ **********************/

.form-control.input-validation-error {
    border-color: red;
}

.login-section {
    background-color: #fff;
    vertical-align: middle;
}


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin .inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

.forgot-password {
    color: rgb(104, 145, 162);
}

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus {
        color: rgb(12, 97, 33);
    }

#register-link {
    float: right;
}


/****************** Domyślny formularz ****************************/

.form {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-container.form {
    max-width: 400px;
    padding: 40px 40px;
}

#userEditor .form-container.form {
    max-width: 500px;
}

#userEditor select {
    margin-top: 10px;
    width: 100%;
}


/******************* Brak danych ************************************/

div.nodata-container .img {
    width: 100%;
    height: 100%;
    background: url('images/brakdanych.png') no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 120px;
}

div.nodata-container p {
    font-weight: bold;
    text-align: center;
}
