@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="~/Content/images/loginlogo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <p>Na twój adres e-mail wysłano link resetujący hasło.</p>

    </div>
</div>