@model eDietetyk.Models.ForgotPasswordViewModel



<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="~/Content/images/loginlogo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span id="reauth-email" class="reauth-email"></span>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "inputEmail", placeholder = "Adres email", type = "email", required = "", autofocus = "" })
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Wyślij link resetujący</button>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
