@{
    ViewBag.Title = "Home Page";
}



<main class="till-container">
    
   
    
    @Html.Action("GetPanel","Metrics")

    @Html.Action("GetPanel","Diets")

    @Html.Action("GetPanel", "UserMeals")

    @Html.Action("GetPanel", "Chart")
</main>